@charset "UTF-8";

/* Em HTML é id    = em CSS é #
   Em HTML é class = em CSS é . 
*/

body {
    background-color: rgb(141, 199, 141);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(1, 146, 1);
}

h1#principal {
    background-color: rgb(1, 146, 1);
    color: #fff;
    text-align: center;
}

h2 {
    color: rgb(1, 75, 1);
}